.login {
    float: right;
    color: lightgray;
}

.carousel-item {
    border: coral;
    height: 500px;
    padding: 20px;
}
.carouselSlide {
    height: 500px;
    padding: 20px;
}

.card {
    background-color: lightgray;
    padding: 20px;
}
input {
    justify-content: flex-end;
 }

.card-img-top {
    border: black 5px;
}
