.carousel-item {
    border: coral;
    height: 500px;
    padding: 20px;
}
.carouselSlide {
    height: 500px;
    padding: 20px;
}
.card-img-top {
    height: 100%;
}

.card-deck {
    padding: 20px;
    height: 50%;
}